/* The .filters class is initially set to display: none, which means it will not be displayed on the webpage. */
.filters {
  display: none;
}

/* This media query applies styles to devices with a screen width of 600px or less. Currently, there are no styles defined within this media query. */
@media only screen and (max-width: 600px) {
}

/* This media query applies styles to devices with a screen width of 600px or more. Currently, there are no styles defined within this media query. */
@media only screen and (min-width: 600px) {
}

/* This media query applies styles to devices with a screen width of 768px or more. It defines styles for .filters, button, .locations, .amenities, .popover, and their child elements. */
@media only screen and (min-width: 768px) {
  /* The .filters class has a height of 70px, a width of 100%, a border of 1px solid #DDDDDD, a border-radius of 4px, a display of flex, align-items set to center, and box-sizing set to border-box. */
  .filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  /* The button element has a font-size of 18px, a background-color of #FF5A5F, a color of #FFF, a height of 48px, a width of 20%, a max-width of 220px, no border, a border-radius of 4px, a margin of auto 30px auto auto, and align-self set to center. */
  button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    max-width: 220px;
    border: none;
    border-radius: 4px;
    margin: auto 30px auto auto;
    align-self: center;
  }

  /* When the button element is hovered over, its opacity is set to .9 and the cursor is set to pointer. */
  button:hover {
    opacity: .9;
    cursor: pointer;
  }

  /* The .locations and .amenities classes have a height of 100%, a width of 25%, justify-content set to center, flex-direction set to column, and position set to relative. */
  .locations,
  .amenities {
    height: 100%;
    width: 25%;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  /* The .locations class has a border-right of 1px solid #DDDDDD. */
  .locations {
    border-right: 1px solid #DDDDDD;
  }

  /* The h3 elements within the .locations and .amenities classes have a font-weight of 600 and a margin of 1em 0 auto 30px. */
  .locations h3,
  .amenities h3{
    font-weight: 600;
    margin: 1em 0 auto 30px;
  }

  /* The h4 elements within the .locations and .amenities classes have a font-weight of 400, a font-size of 14px, and a margin of auto 0 auto 30px. */
  .locations h4,
  .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: auto 0 auto 30px;
  }

  /* When the .locations and .amenities classes are focused, their background-color is set to antiquewhite. */
  .locations:focus,
  .amenities:focus {
    background-color: antiquewhite;
  }

  /* When the article element is focused, its background-color is set to antiquewhite. */
  article:focus {
    background-color: antiquewhite;
  }

  /* The .popover class has a border-radius of 4px, a border of 1px solid #DDDDDD, a padding of 20px 20px 20px 20px, a display of none, a background-color of #FAFAFA, and a margin of 17px 0 0 0. */
  .popover {
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 20px 20px 20px 20px;
    display: none;
    background-color: #FAFAFA;
    margin: 17px 0 0 0;
  }

  /* The ul element within the .popover class has a margin-left of 10px. */
  .popover ul {
    margin-left: 10px;
  }

  /* The ul element within the ul element has a padding of 0. */
  ul > ul {
    padding: 0;
  }

  /* The li elements within the .popover class have a list-style-type of none. */
  .popover li{
    list-style-type: none;
  }

  /* The h2 elements within the .popover class have a font-size of 16px and a margin of 5px auto 5px auto. */
  .popover h2 {
    font-size: 16px;
    margin: 5px auto 5px auto;
  }

  /* When the .locations and .amenities classes are hovered over, the cursor is set to pointer. */
  .locations:hover,
  .amenities:hover {
    cursor: pointer;
  }

  /* When the .locations class is hovered over, the display of the .popover class is set to block and the cursor is set to pointer. */
  .locations:hover .popover {
    display: block;
    cursor: pointer;
  }

  /* When the .amenities class is hovered over, the display of the .popover class is set to block and the cursor is set to pointer. */
  .amenities:hover .popover {
    display: block;
    cursor: pointer;
  }

}

/* This media query applies styles to devices with a screen width of 992px or more. Currently, there are no styles defined within this media query. */
@media only screen and (min-width: 992px) {

}
