/* Styling for the places section */
.places {
  display: flex; /* Display set to flex */
  flex-wrap: wrap; /* Flex items wrap to the next line */
  justify-content: center; /* Content justified to center horizontally */
  z-index: -1; /* z-index set to -1 */
}

/* Styling for the articles within the places section */
.places article {
  display: flex; /* Display set to flex */
  flex-wrap: wrap; /* Flex items wrap to the next line */
  width: 390px; /* Width set to 390 pixels */
  padding: 20px; /* Padding set to 20 pixels */
  margin: 20px; /* Margin set to 20 pixels */
  border-radius: 4px; /* Border radius set to 4 pixels */
  border: 1px solid #FF5A5F; /* Border set to 1 pixel solid #FF5A5F */
  box-sizing: border-box; /* Box sizing set to border-box */
}

/* Styling for the h1 heading within the places section */
.places h1 {
  width: 100%; /* Width set to 100% */
  font-size: 30px; /* Font size set to 30 pixels */
  padding-left: 20px; /* Left padding set to 20 pixels */
  margin: 10px auto auto; /* Margin set to 10 pixels (top) and auto (left and right) */
}

/* Styling for the h2 heading within the places section */
.places h2 {
  font-size: 30px; /* Font size set to 30 pixels */
  margin: 0; /* Margin set to 0 */
  padding: 0; /* Padding set to 0 */
  text-align: center; /* Text aligned to center */
  flex-grow: 1; /* Flex grow set to 1 */
}

/* Styling for the article header within the places section */
.article_places_header {
  width: 100%; /* Width set to 100% */
  display: flex; /* Display set to flex */
}

/* Styling for the price_by_night circle */
.price_by_night {
  min-width: 60px; /* Minimum width set to 60 pixels */
  height: 60px; /* Height set to 60 pixels */
  color: #FF5A5F; /* Text color set to #FF5A5F */
  border: 4px solid #FF5A5F; /* Border set to 4 pixels solid #FF5A5F */
  border-radius: 50%; /* Border radius set to 50% */
  font-size: 30px; /* Font size set to 30 pixels */
  display: flex; /* Display set to flex */
  align-items: center; /* Items aligned to center vertically */
  justify-content: center; /* Content justified to center horizontally */
  padding: 5px; /* Padding set to 5 pixels */
  margin-bottom: 5px; /* Bottom margin set to 5 pixels */
}

/* Styling for the information box with icons */
.information {
  width: 100%; /* Width set to 100% */
  height: 80px; /* Height set to 80 pixels */
  border-top: 1px solid #DDDDDD; /* Top border set to 1 pixel solid #DDDDDD */
  border-bottom: 1px solid #DDDDDD; /* Bottom border set to 1 pixel solid #DDDDDD */
  display: flex; /* Display set to flex */
  flex-wrap: wrap; /* Flex items wrap to the next line */
  justify-content: space-evenly; /* Content justified with equal space between */
}

/* Styling for the user section */
.user {
  padding: 20px 0 5px; /* Padding set to 20 pixels (top), 0 (right and left), and 5 pixels (bottom) */
}

/* Styling for <b> and <p> elements within the user section */
.user b, p {
  margin: 0; /* Margin set to 0 */
  padding: 0; /* Padding set to 0 */
}
/* Styling for the max_guest icon */
.max_guest {
  background-image: url(../images/icon_group.png); /* Background image set to "../images/icon_group.png" */
}

/* Styling for the number_rooms icon */
.number_rooms {
  background-image: url(../images/icon_bed.png); /* Background image set to "../images/icon_bed.png" */
}

/* Styling for the number_bathrooms icon */
.number_bathrooms {
  background-image: url(../images/icon_bath.png); /* Background image set to "../images/icon_bath.png" */
}

/* Styling for max_guest, number_rooms, and number_bathrooms icons */
.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px; /* Width set to 100 pixels */
  background-repeat: no-repeat; /* Background image not repeated */
  display:flex; /* Display set to flex */
  flex-direction: column-reverse; /* Flex direction set to column-reverse */
  background-position-x: center; /* Background position set to center horizontally */
  text-align:center; /* Text aligned to center */
}

/* Styling for the amenities and reviews sections within the places section */
.places .amenities,
.places .reviews {
  margin-top: 40px; /* Top margin set to 40 pixels */
  width: 100%; /* Width set to 100% */
  height: inherit; /* Height set to inherit */
}

/* Styling for the ul within the amenities and reviews sections */
.places .amenities ul,
.places .reviews ul {
  list-style-type: none; /* List style type set to none */
  padding: 0; /* Padding set to 0 */
}

/* Styling for the h2 heading within the amenities and reviews sections */
.places .amenities h2,
.places .reviews h2 {
  font-size: 16px; /* Font size set to 16 pixels */
  text-align: left; /* Text aligned to left */
  border-bottom: 1px solid #DDDDDD; /* Bottom border set to 1 pixel solid #DDDDDD */
}

/* Styling for the h3 heading within the reviews section */
.places .reviews h3 {
  font-size: 14px; /* Font size set to 14 pixels */
}

/* Styling for the paragraphs within the reviews section */
.places .reviews p {
  font-size: 12px; /* Font size set to 12 pixels */
}

/* Styling for the amenities icons section */
.places .amenities ul li{
  display: flex; /* Display set to flex */
  flex-direction: row; /* Flex direction set to row */
  justify-content: flex-start; /* Content justified to flex-start */
  align-content: center; /* Content aligned to center vertically */
  margin-bottom: 10px; /* Bottom margin set to 10 pixels */
  align-items: end; /* Items aligned to end vertically */
}

/* Styling for the pet_friendly icon */
.places_amenities_pet_friendly {
  background-image: url(../images/icon_pets.png); /* Background image set to "../images/icon_pets.png" */
}

/* Styling for the tv icon */
.places_amenities_tv {
  background-image: url(../images/icon_tv.png); /* Background image set to "../images/icon_tv.png" */
}

/* Styling for the wifi icon */
.places_amenities_wifi {
  background-image: url(../images/icon_wifi.png); /* Background image set to "../images/icon_wifi.png" */
}

/* Styling for pet_friendly, tv, and wifi icons */
.places_amenities_pet_friendly,
.places_amenities_tv,
.places_amenities_wifi {
  background-size: cover; /* Background size set to cover */
  background-repeat: no-repeat; /* Background image not repeated */
  width: 20px; /* Width set to 20 pixels */
  height: 20px; /* Height set to 20 pixels */
}
