/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) */
/* This rule sets the styles for the header element on extra small devices. The header has a z-index of 4, a white text color, a height of 3.5rem, and a full width. It has a bottom border of 1px solid #CCCCCC. The background image is set to a logo, which is centered and does not repeat. The header floats to the left and the text is aligned to the left. */
header {
  z-index: 4;
  color: #fff;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
  text-align: left;
}

/* rotate burguer */
/* This rule sets the styles for the .main_nav_burguer class. It has a margin of .6rem 0 0 1rem, is displayed inline-block, has a font size of 2rem, a bold font weight, is rotated 90 degrees, and has a color of lightslategray. It has a transition of .2s ease-in-out. */
.main_nav_burguer {
  margin: .6rem 0 0 1rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  transform: rotate(90deg);
  color: lightslategray;
  transition: .2s ease-in-out;
}

/* This rule sets the hover styles for the .main_nav_burguer class. On hover, the cursor changes to a pointer, the rotation is set to 0 degrees, the color changes to silver, and the transition is set to .2s ease-in-out. */
.main_nav_burguer:hover {
  cursor: pointer;
  transform: rotate(0deg);
  color: silver;
  transition: .2s ease-in-out;
}

/* This rule sets the styles for the #main_check element when it is checked. The cursor changes to a pointer, the rotation is set to 0 degrees, the color changes to silver, and the transition is set to .2s ease-in-out. */
#main_check:checked {
  cursor: pointer;
  transform: rotate(0deg);
  color: silver;
  transition: .2s ease-in-out;
}

/* popup first level menu */
/* This rule sets the styles for the .nav_bar_level1 class. It has a width and height of 0%, a border radius of 4px, a transition of .2s ease-in-out, and a background color of aliceblue. */
.nav_bar_level1 {
  width: 0%;
  height: 0%;
  border-radius: 4px;
  transition: .2s ease-in-out;
  background-color: aliceblue;
}

/* This rule hides all input elements by setting their display property to none. */
input {
  display: none;
}

/* This rule hides all ul elements within li elements of the .nav_bar_level1 class by setting their display property to none. */
.nav_bar_level1 li ul {
  display: none;
}

/* This rule hides all li elements within the .nav_bar_level1 class by setting their display property to none. */
.nav_bar_level1 li{
  display: none;
}

/* This rule sets the display property of the .nav_bar_level1 class to block when the #main_check element is checked. */
#main_check:checked ~ * .nav_bar_level1 {
  display: block;
}

/* This rule sets the display property of the li elements within the .nav_bar_level1 class to block, sets the font size to 1.3rem, the margin to .5rem, the color to lightslategray, the font weight to bold, and the transition to .5s ease-in-out when the #main_check element is checked. */
#main_check:checked ~ * .nav_bar_level1 li {
  display: block;
  font-size: 1.3rem;
  margin: .5rem;
  color: lightslategray;
  font-weight: bold;
  transition: .5s ease-in-out;
}

/* This rule sets the hover styles for the span elements within the label elements within the li elements of the .nav_bar_level1 class and the span elements within the ul elements. On hover, the background color changes to #434343, the width is set to 100%, padding is set to .2rem 1rem, the border radius is set to 4px, the color changes to #FAFAFA, and the cursor changes to a pointer. */
.nav_bar_level1 li label span:hover,
ul li span:hover
 {
  background-color: #434343;
  width: 100%;
  padding: .2rem 1rem;
  border-radius: 4px;
  color: #FAFAFA;
  cursor: pointer;
}

/* This rule sets the display property of the .nav_bar_level1 class to block, the margin to 1rem, the padding to .8rem, the flex direction to column, the transition to .3s ease-in-out, and the width to 50vw when the #main_check element is checked. */
#main_check:checked ~ * .nav_bar_level1
{
  display: block;
  margin: 1rem;
  padding: .8rem;
  flex-direction: column;
  transition: .3s ease-in-out;
  width: 50vw;
  transition: 1s ease-in-out;
}

/* This rule sets the display property of the ul elements that are siblings of the #second_check element to block when the #second_check element is checked. */
#second_check:checked  + ul{
  display: block;
}

/* This rule sets the display property of the ul elements that are siblings of the #third_check element to block when the #third_check element is checked. */
#third_check:checked  + ul{
  display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) */
/* This media query applies styles to devices with a screen width of 600px or more. Currently, there are no styles defined within this media query. */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) */
/* This media query applies styles to devices with a screen width of 768px or more. The background position of the header element is set to left and the background position x is set to 1rem. The .mobile_nav class is set to display: none. */

@media only screen and (min-width: 768px) {
  header {
      background-position: left;
      background-position-x: 1rem;
  }
  .mobile_nav {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) */
/* This media query applies styles to devices with a screen width of 992px or more. Currently, there are no styles defined within this media query. */
@media only screen and (min-width: 992px) {

}
