/* This media query applies styles to devices with a screen width of 600px or less. Currently, there are no styles defined within this media query. */
@media only screen and (max-width: 600px) {
}

/* This media query applies styles to devices with a screen width of 600px or more. Currently, there are no styles defined within this media query. */
@media only screen and (min-width: 600px) {
}

/* This media query applies styles to devices with a screen width of 768px or more. Currently, there are no styles defined within this media query. */
@media only screen and (min-width: 768px) {
}

/* This media query applies styles to devices with a screen width of 992px or more. Currently, there are no styles defined within this media query. */
@media only screen and (min-width: 992px) {
}

/* The footer rule sets the clear property to left, which means it will not float next to elements that come before it. It has a height of 60px and a width of 100%. It has a top border of 1px solid #CCCCCC. It is set to display: flex, which means its children will be flex items. It has a background-color of #FFF. It is set to flex-direction: column, which means its children will be stacked vertically. It is set to justify-content: center and align-items: center, which means its children will be centered both vertically and horizontally. */
footer {
  clear: left;
  height: 60px;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The footer p rule sets the color property of the p element within the footer to #484848 and the text-align property to center, which means its text will be centered. */
footer p {
  color: #484848;
  text-align: center;
}
