/* Reset CSS: This rule resets the margin, padding, list-style, text-decoration, border, and outline properties of all elements to their initial values. */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

/* Common styles: This rule sets the box-sizing property of the html element to border-box, which includes the padding and border in the element's total width and height. */
html {
  box-sizing: border-box;
}

/* Mobile first responsive: This rule sets the font-size, font-family, width, color, display, flex-direction, and justify-content properties of the body element for extra small devices (phones, 600px and down). */
body {
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  color: #484848;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* This rule sets the color property of the span element to #000000. */
span {
	color: #000000;
}

/* This rule sets the display, flex-direction, flex-grow, and margin properties of the .container class. */
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2rem auto;
}

/* Index: This rule sets the z-index property of the .container class to 0. */
.container {
	z-index: 0;
}

/* This rule sets the z-index property of the .div_price_by_night class to 10. */
.div_price_by_night {
	z-index: 10;
}

/* This rule sets the z-index property of all elements to inherit, which means they will take the same z-index value as their parent element. */
* {
	z-index: inherit;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) */
/* This media query applies styles to devices with a screen width of 600px or more. Currently, there are no styles defined within this media query. */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) */
/* This media query applies styles to devices with a screen width of 768px or more. Currently, there are no styles defined within this media query. */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) */
/* This media query applies styles to devices with a screen width of 992px or more. The body element's max-width is set to 1920px and its horizontal margins are set to auto, which centers the body element in the viewport. */
body {
	max-width: 1920px;
	margin: 0 auto;
}
