/* Styling for the places container */
.places {
    border: 0; /* No border */
    display: flex; /* Display set to flex */
    flex-direction: column; /* Flex direction set to column */
    padding-left: 30px; /* Left padding set to 30 pixels */
}

/* Styling for heading level 1 within places container */
.places h1 {
    font-size: 30px; /* Font size set to 30 pixels */
}

/* Styling for the places title */
.places_title {
    padding-top: 30px; /* Top padding set to 30 pixels */
    margin-bottom: -25px; /* Bottom margin set to -25 pixels */
}

/* Styling for the articles section */
.articles {
    display: flex; /* Display set to flex */
    align-items: baseline; /* Align items set to baseline */
    flex-wrap: wrap; /* Flex wrap set to wrap */
    justify-content: center; /* Justify content set to center */
}

/* Styling for articles within the places section */
.places article {
    width: 390px; /* Width set to 390 pixels */
    margin: 20px; /* Margin set to 20 pixels */
    padding: 20px; /* Padding set to 20 pixels */
    border: solid #FF5A5F 1px; /* Border style set to solid with 1 pixel width and color #FF5A5F */
    border-radius: 4px; /* Border radius set to 4 pixels */
    text-align: center; /* Text aligned to the center */
    font-size: 30px; /* Font size set to 30 pixels */
}

/* Styling for heading level 2 within articles */
article h2 {
    font-size: 30px; /* Font size set to 30 pixels */
    margin-top: -2px; /* Top margin set to -2 pixels */
}
